@if $gz-reverse-enabled == true {
  @include gz-make-responsive($gz-reverse-responsive-enabled) {
    .#{$gz-prefix}grid {
      &.#{$gz-prefix}reverse#{$gz-breakpoint-suffix} {
        flex-direction: row-reverse;
      }
    }
  }
}

@if $gz-vertical-enabled == true {
  @include gz-make-responsive($gz-vertical-responsive-enabled) {
    .#{$gz-prefix}grid {
      &.#{$gz-prefix}vertical#{$gz-breakpoint-suffix} {
        flex-direction: column;

        @if $gz-reverse-enabled == true {
          &.#{$gz-prefix}reverse#{$gz-breakpoint-suffix} {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
