@if $gz-align-top-unit-enabled == true {
  @include gz-make-responsive($gz-align-top-unit-responsive-enabled) {
    [class*="#{$gz-prefix}unit-"] {
      &.#{$gz-prefix}align-top#{$gz-breakpoint-suffix} {
        align-self: flex-start;
      }
    }
  }
}

@if $gz-align-middle-unit-enabled == true {
  @include gz-make-responsive($gz-align-middle-unit-responsive-enabled) {
    [class*="#{$gz-prefix}unit-"] {
      &.#{$gz-prefix}align-middle#{$gz-breakpoint-suffix} {
        align-self: center;
      }
    }
  }
}

@if $gz-align-bottom-unit-enabled == true {
  @include gz-make-responsive($gz-align-bottom-unit-responsive-enabled) {
    [class*="#{$gz-prefix}unit-"] {
      &.#{$gz-prefix}align-bottom#{$gz-breakpoint-suffix} {
        align-self: flex-end;
      }
    }
  }
}
