// FONTS
@import '//fonts.googleapis.com/css?family=Kaushan+Script|Lato:300,400,700|Inconsolata|Lora:400italic';

// IMPORTS
@import 'normalizer';
@import 'prism';
@import 'icons/style.css';

// VARS
$color-a: #ff9933;
$color-b: #ff3399;
$color-c: #ff3359;

$gradient: linear-gradient(45deg, $color-a, $color-b);

$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

/* =================================== */
/* SELECTION
/* =================================== */

::selection {
  color: #fff;
  background: rgba($color-c, 0.8);
}

pre[class*='language-']::-moz-selection, pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection, code[class*='language-'] ::-moz-selection {
  color: #fff;
	background: rgba($color-c, 0.8);
}

pre[class*='language-']::selection, pre[class*='language-'] ::selection,
code[class*='language-']::selection, code[class*='language-'] ::selection {
  color: #fff;
	background: rgba($color-c, 0.8);
}


/* =================================== */
/* BODY
/* =================================== */

body {
  font: 300 normal 16px/1.5 Lato, sans-serif;
  letter-spacing: 0.025em;
  color: #333;

  &.emotion {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
    }
  }
}

/* =================================== */
/* BLOCK ELEMENTS
/* =================================== */

%block {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* =================================== */
/* HEADER
/* =================================== */

#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: $gradient;
  background-attachment: fixed;

  > div {
    flex: 0 0 100%;
    align-self: center;
    text-align: center;
    perspective: 400px;
  }
}

.logo {
  margin: 0;
  width: 100%;
  font: normal normal 70px/30px 'Kaushan Script', sans-serif;
  letter-spacing: -3px;
  text-indent: -20px;
  text-shadow: 0px 2px 1px rgba(#000, 0.3);
}

.tagline {
  margin: 40px 0 0;
  font: normal 400 12px/24px Lato, sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.action-links {
  display: flex;
  width: 350px;
  margin: 100px auto 0;
  justify-content: space-between;

  a {
    flex: 1 1 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    i {
      position: relative;
      display: inline-block;
      font-size: 14px;

      &:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -32px;
        margin-left: -32px;
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 32px;
        transform: scale(0.5);
      }

      &:after {
        $size: 70px;

        content: '';
        display: block;
        width: $size;
        height: $size;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -#{0.5 * $size + 2px} 0 0 -#{0.5 * $size + 2px};
        z-index: -1;
        border: 2px solid rgba(#fff, 0.25);
        border-radius: 50%;
      }
    }

    span {
      display: block;
      margin: 50px 0 0;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &.mouse-in {
      i {
        &:before {
          color: ($color-a + $color-b) / 2;
          transform: scale(0.9);
          transition: 300ms all $ease-out-cubic 50ms;
        }

        &:after {
          animation: nav-link-rollover 1000ms linear forwards 100ms;
        }
      }
    }

    &.mouse-out {
      i {
        &:before {
          transform: scale(0.5);
          transition: 150ms all $ease-out-cubic;
        }

        &:after {
          animation: nav-link-rollout 1000ms linear forwards;
        }
      }
    }
  }
}

@keyframes nav-link-rollover {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); border-color: rgba(#fff, 0.25); }
  3.4% { transform: matrix3d(1.063, 0, 0, 0, 0, 1.081, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(1.09, 0, 0, 0, 0, 1.12, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(1.132, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(1.177, 0, 0, 0, 0, 1.234, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); border-color: transparent; background: #fff; }
  10.21% { transform: matrix3d(1.188, 0, 0, 0, 0, 1.245, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(1.225, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.228, 0, 0, 0, 0, 1.266, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(1.242, 0, 0, 0, 0, 1.248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.242, 0, 0, 0, 0, 1.237, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(1.239, 0, 0, 0, 0, 1.214, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.23, 0, 0, 0, 0, 1.192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.227, 0, 0, 0, 0, 1.188, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(1.213, 0, 0, 0, 0, 1.179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.21, 0, 0, 0, 0, 1.18, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(1.196, 0, 0, 0, 0, 1.192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(1.194, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(1.192, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(1.193, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(1.198, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(1.201, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.201, 0, 0, 0, 0, 1.198, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.201, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); border-color: transparent; background: #fff; }
}

@keyframes nav-link-rollout {
  0% { transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); border-color: transparent; background: #fff; }
  3.4% { transform: matrix3d(1.137, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(1.11, 0, 0, 0, 0, 1.08, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(1.068, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(1.023, 0, 0, 0, 0, 0.966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(1.012, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); border-color: rgba(#fff, 0.25); background: transparent; }
  13.61% { transform: matrix3d(0.975, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(0.972, 0, 0, 0, 0, 0.934, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(0.958, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(0.958, 0, 0, 0, 0, 0.963, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(0.97, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(0.973, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(0.987, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(0.99, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(1.004, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(1.006, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(1.008, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(1.007, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(1.002, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(0.999, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

#header,
#nav {
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(45deg,#ff3c33,#ff244d);
    background-attachment: fixed;
  }
}

.furious {
  &.ing {
    #header,
    #nav {
      &:before {
        opacity: 1;
        transition: 300ms opacity 200ms;
      }
    }
  }

  &.out {
    #header,
    #nav {
      &:before {
        opacity: 0;
        transition: 300ms opacity;
      }
    }
  }
}

/* =================================== */
/* SMILE
/* =================================== */

#smile {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  z-index: -1;
  border: 0 solid transparent;
  border-radius: 50%;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 190px;
    border-radius: 50%;
  }

  &:before {
    left: -20px;
    transform: rotate(90deg);
    border-left: 2px solid rgba(#fff, 0);
  }

  &:after {
    right: -20px;
    transform: rotate(-90deg);
    border-right: 2px solid rgba(#fff, 0);
  }
}

.emotion {
  &.in {
    #smile {
      margin-top: 100px;
      height: 0;
      border-color: transparent;
      transition: none;
    }
  }
}

// logo
.emotion {
  #header {
    h1 {
      opacity: 0 !important;
      transition: 200ms opacity 200ms;
    }

    p {
      opacity: 0 !important;
      transition: 200ms opacity 100ms;
    }
  }

  &.out {
    #header {
      h1 {
        opacity: 1 !important;
        transition: 400ms opacity 100ms;
      }

      p {
        opacity: 1 !important;
        transition: 400ms opacity 200ms;
      }
    }
  }
}

// links labels
.emotion {
  .download-link,
  .docs-link {
    i {
      &:before {
        opacity: 0;
        transition: 100ms opacity;
      }
    }

    span {
      opacity: 0 !important;
      transition: 100ms opacity;
    }
  }

  &.out {
    .download-link,
    .docs-link {
      i {
        &:before {
          opacity: 1;
          transition: 100ms opacity linear 200ms;
        }
      }

      span {
        opacity: 1 !important;
        transition: 100ms opacity 200ms;
      }
    }
  }
}

// text
.emotion {
  &.in {
    #text {
      opacity: 0;
    }
  }

  &.ing {
    #text {
      opacity: 1;
      transition: 300ms opacity 500ms;
    }
  }

  &.out {
    #text {
      opacity: 0;
      transition: 300ms opacity;
    }
  }
}

// eyes
.emotion {
  .docs-link,
  .download-link {
    transform: translate3d(0, -200px, 0);
    transition: 500ms transform $ease-in-out-cubic 150ms;
  }

  .docs-link {
    transform: translate3d(0, -200px, 0);
  }

  &.out {
    .download-link,
    .docs-link {
      transform: translate3d(0, 0, 0);
      transition: 500ms transform $ease-in-out-cubic;
    }
  }
}

// smiley face
.happy {
  .docs-link,
  .download-link {
    i:after {
      animation: blink 3000ms linear forwards;
    }
  }

  #smile {
    margin-top: -300px;
    border-bottom: 2px solid rgba(#fff, 1);
    transition: 400ms all $ease-in-out-cubic 200ms;

    &:before {
      border-left: 2px solid rgba(#fff, 0.65);
      transition: 200ms border 500ms;
    }

    &:after {
      border-right: 2px solid rgba(#fff, 0.65);
      transition: 200ms border 500ms;
    }
  }

  &.out {
    .download-link,
    .docs-link {
      i:after {
        animation: blink-out 200ms linear forwards;
      }
    }

    #smile {
      border-bottom: 0 solid transparent;
      width: 600px;
      margin-left: -300px;
      margin-top: -200px;
      opacity: 0 !important;
      transition: 400ms all $ease-in-out-cubic;
    }
  }
}

@keyframes blink {
  0% { background: transparent; }
  6% { background: transparent; }
  10% { background: #fff; }

  19.5% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }
  20.1% { background: transparent; height: 5px; margin-top: -7px; margin-left: -47px; border: 10px solid transparent; border-top-color: #fff; }
  22.9% { background: transparent; height: 5px; margin-top: -7px; margin-left: -47px; border: 10px solid transparent; border-top-color: #fff; }
  23.5% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }

  27.5% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }
  28.1% { background: transparent; height: 5px; margin-top: -7px; margin-left: -47px; border: 10px solid transparent; border-top-color: #fff; }
  30.9% { background: transparent; height: 5px; margin-top: -7px; margin-left: -47px; border: 10px solid transparent; border-top-color: #fff; }
  31.5% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }

  100% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }
}

@keyframes blink-out {
  0% { background: #fff; height: 70px; margin-top: -37px; margin-left: -37px; border: 2px solid rgba(#fff, 0.25); }
  100% { background: transparent; }
}

// amazed
.amazed {
  &.ing {
    .docs-link,
    .download-link {
      i {
        &:after {
          background: #fff;
          transition: 300ms background 200ms;
        }
      }
    }

    #smile {
      margin-top: 0;
      width: 300px;
      margin-left: -150px;
      height: 10px;
      opacity: 1;
      border-top: 2px solid rgba(#fff, 1);
      border-bottom: none;
      transition: 400ms all $ease-in-out-cubic 200ms;

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0;
      }
    }
  }

  &.out {
    .docs-link,
    .download-link {
      i {
        &:after {
          transition: 400ms all $ease-in-out-cubic;
        }
      }
    }

    #smile {
      border-top: 0 solid transparent;
      width: 800px;
      margin-left: -400px;
      margin-top: 200px;
      opacity: 0 !important;
      transition: 400ms all $ease-in-out-cubic;
    }
  }
}

// unamused
.unamused {
  &.ing {
    .docs-link,
    .download-link {
      i {
        &:after {
          $size: 80px;

          width: $size;
          height: 10px;
          margin: -5px 0 0 -#{$size * 0.5 + 2px};
          border-width: 0;
          border-color: transparent;
          border-bottom: 14px solid #fff;
          transition: 400ms all $ease-out-cubic 200ms;
        }
      }
    }

    #smile {
      margin-top: 0;
      width: 300px;
      margin-left: -150px;
      height: 40px;
      opacity: 1;
      border-top: 2px solid rgba(#fff, 1);
      border-bottom: none;
      transition: 400ms all $ease-in-out-cubic 200ms;

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0;
      }
    }
  }

  &.out {
    .docs-link,
    .download-link {
      i {
        &:after {
          $size: 70px;

          width: $size;
          height: $size;
          margin: -#{0.5 * $size + 2px} 0 0 -#{0.5 * $size + 2px};
          border: 2px solid rgba(#fff, 0.25);
          transition: 400ms all $ease-in-out-cubic;
        }
      }
    }

    #smile {
      border-top: 0 solid transparent;
      width: 800px;
      margin-left: -400px;
      margin-top: 200px;
      opacity: 0 !important;
      transition: 400ms all $ease-in-out-cubic;
    }
  }
}

// mad
.mad {
  &.ing {
    .docs-link,
    .download-link {
      i {
        &:after {
          $size: 80px;

          width: $size;
          height: 10px;
          margin: -5px 0 0 -#{$size * 0.5 + 2px};
          border-width: 0;
          border-color: transparent;
          border-bottom: 14px solid #fff;
          transform: rotate(-8deg);
          transition: 400ms all $ease-out-cubic 200ms;
        }
      }
    }

    .docs-link {
      i {
        &:after {
          transform: rotate(8deg);
        }
      }
    }

    #smile {
      margin-top: 0;
      width: 300px;
      margin-left: -150px;
      height: 100px;
      opacity: 1;
      border-top: 2px solid rgba(#fff, 1);
      border-bottom: none;
      transition: 400ms all $ease-in-out-cubic 200ms;

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0;
      }
    }
  }

  &.out {
    .docs-link,
    .download-link {
      i {
        &:after {
          $size: 70px;

          width: $size;
          height: $size;
          margin: -#{0.5 * $size + 2px} 0 0 -#{0.5 * $size + 2px};
          border: 2px solid rgba(#fff, 0.25);
          transition: 400ms all $ease-in-out-cubic;
        }
      }
    }

    #smile {
      border-top: 0 solid transparent;
      width: 800px;
      margin-left: -400px;
      margin-top: 200px;
      opacity: 0 !important;
      transition: 400ms all $ease-in-out-cubic;
    }
  }
}

// angry
.angry,
.furious {
  &.ing {
    .docs-link,
    .download-link {
      i {
        &:before {
          width: 100px;
          height: 0;
          opacity: 1;
          color: transparent;
          border: none;
          border-bottom: 2px solid rgba(#fff, 0.8);
          border-radius: 50%;
          transform: translate3d(-30px,36px,0) rotate(-20deg);
          transition: 400ms all $ease-out-cubic 200ms, 100ms color;
        }

        &:after {
          $size: 80px;

          width: $size;
          height: 10px;
          margin: -5px 0 0 -#{$size * 0.5 + 2px};
          border-width: 0;
          border-color: transparent;
          border-bottom: 14px solid #fff;
          transform: translate3d(-10px, 0, 0) rotate(-20deg);
          transition: 400ms all $ease-out-cubic 200ms;
        }
      }
    }

    .docs-link {
      i {
        &:before {
          transform: translate3d(-10px,36px,0) rotate(20deg);
        }

        &:after {
          transform: translate3d(10px, 0, 0) rotate(20deg);
        }
      }
    }

    #smile {
      margin-top: -30px;
      width: 300px;
      margin-left: -150px;
      height: 200px;
      opacity: 1;
      border-top: 2px solid rgba(#fff, 1);
      border-bottom: none;
      transition: 400ms all $ease-in-out-cubic 200ms;

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 0;
      }
    }
  }

  &.out {
    .docs-link,
    .download-link {
      i {
        &:before {
          transition: 400ms all $ease-out-cubic 200ms, 100ms color 200ms;
        }

        &:after {
          $size: 70px;

          width: $size;
          height: $size;
          margin: -#{0.5 * $size + 2px} 0 0 -#{0.5 * $size + 2px};
          border: 2px solid rgba(#fff, 0.25);
          transition: 400ms all $ease-in-out-cubic;
        }
      }
    }

    #smile {
      border-top: 0 solid transparent;
      width: 800px;
      margin-left: -400px;
      margin-top: 200px;
      opacity: 0 !important;
      transition: 400ms all $ease-in-out-cubic;
    }
  }
}

/* =================================== */
/* TEXT
/* =================================== */

#text {
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: -1;
  font: normal normal 36px/1 'Kaushan Script', sans-serif;
  opacity: 0;
}

/* =================================== */
/* NAV
/* =================================== */

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: $gradient;
  background-attachment: fixed;

  .home-link {
    display: block;
    float: left;
    font: normal normal 24px/60px 'Kaushan Script', sans-serif;
    text-shadow: 0px 1px 1px rgba(#000, 0.3);
    text-decoration: none;
    color: #fff;
  }

  .icon-links {
    display: block;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      vertical-align: middle;

      a {
        position: relative;
        display: block;
        line-height: 60px;
        width: 30px;
        height: 60px;
        text-align: center;
        font-size: 0;
        text-decoration: none;
        transition: 300ms opacity;

        &:before {
          position: absolute;
          left: 50%;
          margin-left: -8px;
          width: 16px;
          font-size: 16px;
          color: #fff;
          transition: color 200ms;
        }

        &:after {
          $size: 36px;

          content: '';
          display: block;
          width: $size;
          height: $size;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -#{0.5 * $size} 0 0 -#{0.5 * $size};
          opacity: 0;
          z-index: -1;
          transform: scale(0.2);
          background: #fff;
          border-radius: 50%;
        }

        &:hover {
          &:before {
            color: $color-c;
          }

          &:after {
            transition: 300ms opacity;
            opacity: 1;
            animation: icon-link-rollover 1000ms linear both;
          }
        }
      }
    }
  }
}

@keyframes icon-link-rollover {
  0% { transform: matrix3d(.1, 0, 0, 0, 0, .1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% { transform: matrix3d(.384, 0, 0, 0, 0, .466, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(.505, 0, 0, 0, 0, .639, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% { transform: matrix3d(.693, 0, 0, 0, 0, .904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(.895, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% { transform: matrix3d(.947, 0, 0, 0, 0, 1.204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% { transform: matrix3d(1.111, 0, 0, 0, 0, 1.299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.127, 0, 0, 0, 0, 1.298, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% { transform: matrix3d(1.187, 0, 0, 0, 0, 1.216, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.191, 0, 0, 0, 0, 1.169, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% { transform: matrix3d(1.177, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.135, 0, 0, 0, 0, .964, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% { transform: matrix3d(1.121, 0, 0, 0, 0, .944, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% { transform: matrix3d(1.057, 0, 0, 0, 0, .907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.043, 0, 0, 0, 0, .909, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(.981, 0, 0, 0, 0, .966, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% { transform: matrix3d(.974, 0, 0, 0, 0, .981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(.965, 0, 0, 0, 0, 1.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% { transform: matrix3d(.969, 0, 0, 0, 0, 1.029, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(.992, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% { transform: matrix3d(1.005, 0, 0, 0, 0, .991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, .993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% { transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% { transform: matrix3d(.999, 0, 0, 0, 0, .999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

.scrolled {
  .icon-smile {
    opacity: 0;
    pointer-events: none;
  }
}

/* =================================== */
/* PAGE
/* =================================== */

#page {
  position: relative;
  padding: 100px 0;
  margin-top: 1500px;
  z-index: 1;
  background: #fff;

  a {
    color: $color-c;
    text-decoration: none;

    &:hover {
      color: $color-a;
    }
  }

  section {
    padding: 100px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  h1, h2, h3 {
    margin: 0.5em 0;
    font-family: Lato, sans-serif;
    font-weight: 300;

    @extend %block;
  }

  h1 {
    position: relative;
    display: inline-block;
    font-size: 30px;

    &:after {
      content: '';
      position: absolute;
      top: 56%;
      left: -30px;
      display: block;
      width: 20px;
      height: 1px;
      background: $color-c;
    }

    &.primary {
      display: block;
      margin: 0 0 50px;
      font-size: 36px;

      &:after {
        display: none;
      }

      span {
        display: block;
        font-size: 16px;
        color: #999;
        margin: 10px 0 0;
      }
    }
  }

  h2 {
    margin-top: 2em;
    font-size: 20px;
    letter-spacing: 0.05em;
  }

  h1 + h2 {
    margin-top: 0.5em;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    margin-top: 50px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-left: 3px solid $color-c;
  }

  ul, ol {
    margin: 30px 0;

    li {
      padding-left: 10px;
      line-height: 24px;

      + li {
        margin-top: 10px;
      }
    }
  }

  ul {
    padding: 0 0 0 10px;
    list-style: none;

    li {
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        display: block;
        width: 6px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        background: $color-c;
      }
    }
  }

  p {
    @extend %block;
  }

  .intro {
    margin: -0.5em 0 1em;
    font-size: 20px;
    color: $color-c;
  }

  em {
    font-family: Lora;
    font-size: 1em;
    font-style: italic;
  }

  code:not([class*='language-']) {
    display: inline-block;
    padding: 0 5px;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    font-size: 14px;
    letter-spacing: 0.025em;
    text-shadow: none;
    color: $color-c;
    background: #f6f6f6;
    border-radius: 3px;
  }

  .codeblock {
    position: relative;
    margin: 30px 0 50px;

    > pre {
      padding: 20px 20px 20px 50px;
      font-size: 12px;
      border-radius: 5px;
      background: #f6f6f6;
    }

    > button.copy {
      display: block;
      padding: 5px 8px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      outline: none;
      opacity: 0;
      color: #999;
      border: none;
      background: rgba(#000, 0.05);
      border-radius: 3px;
      transition: all 150ms;

      &:hover {
        color: #000;
        background: rgba(#000, 0.1);
      }
    }

    &:hover {
      > button.copy {
        opacity: 1;
      }
    }

    .line-numbers-rows {
      > span:before {
        color: #ccc;
      }
      border-right: 1px dashed #d0d0d0;
    }
  }

  .codeblock--term {
    > pre {
      background: #222;

      code {
        color: #fff;
      }
    }

    > button.copy {
      background: rgba(#fff, 0.05);

      &:hover {
        color: #fff;
        background: rgba(#fff, 0.1);
      }
    }
  }

  .table-responsive {
    max-width: 100%;
    overflow: auto;
    margin: 30px 0;

    table {
      margin: 0;
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      min-height: .01%;

      table {
        width: 100%;
        max-width: 100%;

        > thead,
        > tbody,
        > tfoot {
          > tr {
            > th,
            > td {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .demo {
    overflow: hidden;
    margin: 30px 0;
    padding: 20px;
    font-size: 12px;
    background: #f6f6f6;
    border-radius: 5px;

    &.overflow {
      overflow-x: auto;
    }
  }

  h5 + .demo,
  h5 + .codeblock {
    margin-top: -10px;
  }

  table {
    margin: 30px 0;
    width: 100%;
    border-collapse: collapse;
    background: #fff;

    thead {
      text-align: center;
      font-size: 14px;
      font-weight: 400;

      small {
        margin-left: 5px;
        font-family: Lato;
        font-weight: 300;
        color: $color-c;
      }

      td {
        padding: 10px;
        font-family: Lora;
        background: #fafafa;
      }
    }

    tr {
      transition: all 200ms;
    }

    td {
      padding: 5px 10px;
      text-align: center;
      border: 1px solid #e6e6e6;
    }

    tbody {
      tr:hover {
        background: #f9f9f9;
      }
    }
  }

  .color {
    color: $color-c;
  }

  .margin {
    clear: both;
    display: block;
    height: 30px;
  }

  @media screen and (max-width: 767px) {
    padding-right: 40px;
    padding-left: 40px;

    h1 {
      &:after {
        display: none;
      }
    }
  }

  @media screen and (max-width: 543px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

// gridzilla illustration ------------------

.container-display {
  margin: 30px 0;
  padding: 20px;
  padding-top: 45px;
  font-size: 12px;
  background: #f6f6f6;
  border-radius: 5px;

  > .spanner {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
  }
}

.grid.grid-display {
  position: relative;
  padding-top: 25px;
  margin: 0;
  border: 1px dashed $color-b;
  border-radius: 4px;

  > .spanner {
    position: absolute;
    top: 10px;
    right: 1px;
    left: 1px;
  }
}

.spanner {
  $spanner-color: rgba($color-b, 0.75);

  display: flex;

  .span-right,
  .span-left {
    position: relative;
    flex: 1 1 100%;

    &:before {
      content: '';
      display: block;
      height: 0;
      position: absolute;
      top: 50%;
      left: 5px;
      right: 4px;
      border-top: 1px solid $spanner-color;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translate3d(8px, -3.5px, 0);
      border-left-color: $spanner-color;
    }
  }

  .span-left {
    flex: 0 0 20px;
    width: 20px;

    &:before {
      left: 4px;
      right: 5px;
    }

    &:after {
      right: auto;
      left: 4px;
      transform: translate3d(-8px, -3.5px, 0);
      border-right-color: $spanner-color;
      border-left-color: transparent;
    }
  }
}

// -----------------------------------------


.box {
  position: relative;
  padding: 15px;
  height: 100%;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, lighten($color-a, 4%), lighten($color-b, 4%));
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  border-radius: 3px;
  box-sizing: border-box;

  &.simple {
    background: rgba(#000, 0.1);
  }
}

article.box {
  text-align: initial;
  padding: 15px 20px;

  p {
    padding: 10px;
    background: rgba(#000, 0.075);
    border-radius: 5px;
  }
}

/* =================================== */
/* FOOTER
/* =================================== */

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  height: 300px;
  text-align: center;
  color: #fff;
  background: $gradient;
  background-attachment: fixed;

  > div {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate3d(0, -50%, 0);
    perspective: 400px;
  }

  p {
    margin: 0;

    + p {
      margin-top: 15px;
    }
  }

  p:first-child {
    font: normal 400 10px/30px Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  p:last-child {
    font: normal normal 24px/30px 'Kaushan Script', serif;
    letter-spacing: 3px;
    text-shadow: 0 1px 0 rgba(#000, 0.3);
  }

  .icon-heart {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transform: scale(1.5);

    &:before {
      position: absolute;
      left: 50%;
      margin-left: -32px;
      width: 64px;
      font-size: 32px;
      display: block;
      animation: heart 2500ms ease-in-out infinite;
      z-index: 1;
    }
  }

  p:nth-child(2) {
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      border: 1px solid red;
      border-top: none;
      border-bottom: none;
      border-radius: 999px;
      box-sizing: border-box;
      animation: ripple 2500ms ease-out infinite;
    }

    &:after {
      animation-delay: 250ms;
    }
  }
}

/* =================================== */
/* TABLE OF CONTENTS
/* =================================== */

#toc {
  display: none;
}

/* =================================== */
/* ANIMATIONS
/* =================================== */

$lightness: 15%;
$color-2: $color-c;
$color: red;

@keyframes heart {
  0% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color-2; }
  25% { transform: matrix3d(0.23, 0, 0, 0, 0, 0.23, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color-2; opacity: 0.5; }
  30% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color; opacity: 1; }
  35% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color-2; }
  39.9% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color; }
  40% { transform: matrix3d(0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.32% { transform: matrix3d(0.694, 0, 0, 0, 0, 0.841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.62% { transform: matrix3d(0.677, 0, 0, 0, 0, 0.793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.64% { transform: matrix3d(0.614, 0, 0, 0, 0, 0.631, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.24% { transform: matrix3d(0.578, 0, 0, 0, 0, 0.551, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color-2; }
  43.96% { transform: matrix3d(0.541, 0, 0, 0, 0, 0.478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.86% { transform: matrix3d(0.506, 0, 0, 0, 0, 0.425, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.29% { transform: matrix3d(0.495, 0, 0, 0, 0, 0.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.43% { transform: matrix3d(0.483, 0, 0, 0, 0, 0.417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.73% { transform: matrix3d(0.483, 0, 0, 0, 0, 0.425, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.17% { transform: matrix3d(0.504, 0, 0, 0, 0, 0.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.23% { transform: matrix3d(0.505, 0, 0, 0, 0, 0.494, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.61% { transform: matrix3d(0.539, 0, 0, 0, 0, 0.568, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.97% { transform: matrix3d(0.548, 0, 0, 0, 0, 0.584, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.05% { transform: matrix3d(0.572, 0, 0, 0, 0, 0.618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.77% { transform: matrix3d(0.584, 0, 0, 0, 0, 0.627, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.49% { transform: matrix3d(0.591, 0, 0, 0, 0, 0.625, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.51% { transform: matrix3d(0.595, 0, 0, 0, 0, 0.61, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.93% { transform: matrix3d(0.594, 0, 0, 0, 0, 0.601, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.38% { transform: matrix3d(0.585, 0, 0, 0, 0, 0.569, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.76% { transform: matrix3d(0.571, 0, 0, 0, 0, 0.549, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.06% { transform: matrix3d(0.568, 0, 0, 0, 0, 0.546, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.64% { transform: matrix3d(0.55, 0, 0, 0, 0, 0.547, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.6% { transform: matrix3d(0.549, 0, 0, 0, 0, 0.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.46% { transform: matrix3d(0.553, 0, 0, 0, 0, 0.564, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.63% { transform: matrix3d(0.568, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.17% { transform: matrix3d(0.568, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.93% { transform: matrix3d(0.56, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.71% { transform: matrix3d(0.56, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.64% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.562, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.74% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.35% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.83% { transform: matrix3d(0.562, 0, 0, 0, 0, 0.562, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.05% { transform: matrix3d(0.562, 0, 0, 0, 0, 0.562, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.92% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.82% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(0.563, 0, 0, 0, 0, 0.563, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: $color-2; }
}

@keyframes ripple {
  0% { width: 50px; height: 50px; margin: -25px 0 0 -25px; opacity: 0; }
  25.5% { width: 50px; height: 50px; margin: -25px 0 0 -25px; opacity: 0; }
  26% { width: 50px; height: 50px; margin: -25px 0 0 -25px; opacity: 1; }
  50% { width: 250px; height: 250px; margin: -125px 0 0 -125px; opacity: 0; }
  100% { width: 250px; height: 250px; margin: -125px 0 0 -125px; opacity: 0; }
}
